---
import LucideFiles from "../icons/LucideFiles.astro";
import { templateLoader } from "@/lib/loaders";
import { navParams } from "@/lib/utils";
const search = Astro.url.search;
const activeTab = Astro.url.searchParams.get("active-tab") || "mjml";
const templates = templateLoader({ type: activeTab, search: search });

const activeLink = `${Astro.url.pathname}${search}`;
---

<aside class="drawer-side">
  <ul
    class="menu bg-base-200 text-base-content min-h-full w-60 p-4 gap-1 border-r border-base-300"
  >
    <li class="menu-title">Templates</li>
    <div class="join">
      <a
        href={navParams(Astro.url.searchParams, "active-tab", "mjml")}
        class={`btn join-item ${activeTab === "mjml" ? "btn-primary" : "btn-soft"}`}
        >Mjml</a
      >
      <a
        href={navParams(Astro.url.searchParams, "active-tab", "js")}
        class={`btn join-item ${activeTab === "js" ? "btn-primary" : "btn-soft"}`}
        >js</a
      >
      <a
        href={navParams(Astro.url.searchParams, "active-tab", "react")}
        class={`btn join-item ${activeTab === "react" ? "btn-primary" : "btn-soft"}`}
        >React</a
      >
    </div>
    <!-- <Tabs activeTab={activeTab} searchParams={Astro.url.searchParams} /> -->
    <div class="divider my-0"></div>
    {
      templates &&
        templates.map((t) => (
          <li>
            <a href={t.link} class={activeLink === t.link ? "menu-active" : ""}>
              {t.name}
            </a>
          </li>
        ))
    }
    {
      !Boolean(templates?.length) && (
        <p class="text-base-content/60">
          No templates yet <br />
          Start by creating your first template in
          <code class="text-base-content">src/emails/mjml|js</code> folder
        </p>
      )
    }
    <li class="mt-auto">
      <a href="https://documentation.mjml.io/#components" target="_blank"
        ><LucideFiles />mjml documentation</a
      >
    </li>
  </ul>
</aside>
