---
import { actions } from "astro:actions";
import LucideSend from "./icons/LucideSend.astro";
import LucideMail from "./icons/LucideMail.astro";

const { template, title } = Astro.props;

const type = template.match(/^\/[^\/]+(?:\/[^\/]+)*\/(mjml|react|js)\/.*$/)[1];
const finalTemplate = template.split(type)[1];
---

<div class="absolute top-4 right-4">
  <details class="dropdown dropdown-end">
    <summary class="btn m-1 btn-soft btn-primary"
      ><LucideMail />Send template</summary
    >
    <div
      class="card dropdown-content w-96 bg-base-200 card-xs shadow-sm rounded-md p-4"
    >
      <div class="card-body">
        <form method="post" action={actions.send}>
          <h2 class="card-title">Send this template to</h2>
          <fieldset class="fieldset">
            <fieldset class="fieldset">
              <label class="fieldset-legend">Email</label>
              <input
                type="text"
                class="input validator"
                placeholder="example@mail.com"
                name="email"
                required
              />
              <div class="validator-hint hidden">
                Please enter a email address
              </div>
              <div class="fieldset-label mt-0.5">
                multiple emails separete with comma - <b>,</b>
              </div>
            </fieldset>

            <input type="text" hidden value={finalTemplate} name="template" />
            <input type="text" hidden value={title} name="title" />
            <input type="text" hidden value={type} name="type" />
            <button class="btn btn-primary" id="send-btn"
              >Send <LucideSend class="size-4" /></button
            >
          </fieldset>
        </form>
      </div>
    </div>
  </details>
</div>

<script>
  // import { actions } from "astro:actions";
  // import { navigate } from "astro:transitions/client";

  // const form = document.querySelector("form");
  // const btn = document.querySelector("#send-btn");
  // form?.addEventListener("submit", async (event) => {
  //   event.preventDefault();
  //   const formData = new FormData(form);
  //   // const {data} = await actions.send(formData);
  //   // if (data) {
  //   // }
  // });
</script>
