---
import { ClientRouter } from "astro:transitions";
import "../css/index.css";
import Header from "../components/layout/header.astro";
import Sidebar from "../components/layout/sidebar.astro";
import SendMail from "../components/send-mail.astro";
const { title = "Welcome" } = Astro.props;
const view = Astro.url.searchParams.get("view");
const templateTitle = title.replace("emails/html/", "");

const template = Astro.url.pathname.replace(/^\/email\/[^/]+\//, "");
---

<!doctype html>
<html lang="en" data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro mjml</title>
    <ClientRouter />
  </head>
  <body>
    <div class="drawer drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div
        class={`drawer-content content ${view === "mobile" ? "bg-neutral-700" : ""}`}
      >
        <Header title={templateTitle} />
        <section class="w-full py-2 mx-auto relative">
          {
            title !== "Welcome" && (
              <SendMail template={template} title={templateTitle} />
            )
          }
          <slot />
        </section>
      </div>
      <Sidebar title={title} />
    </div>
    <style>
      .content {
        display: grid;
        grid-template-rows: auto 1fr;
      }
    </style>
  </body>
</html>
